FastAPI
uvicorn
transformers
torch
git+https://github.com/superannotateai/generated_text_detector.git@v1.1.0 
langchain-openai
langchain-core
python-dotenv
langchain-community
langchain_google_community